--CREATE DATABASE [ProjectPRN]
USE [ProjectPRN]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 3/20/2021 6:00:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[password] [nvarchar](max) NOT NULL,
	[userName] [nvarchar](50) NOT NULL,
	[role] [int] NOT NULL,
	[address] [nvarchar](max) NOT NULL,
	[phoneNumber] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 3/20/2021 6:00:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BillID] [bigint] NOT NULL,
	[userName] [nvarchar](50) NOT NULL,
	[address] [nvarchar](max) NOT NULL,
	[phoneNumber] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[orderTime] [datetime] NOT NULL,
	[payment] [int] NOT NULL,
	[userid] [int] NULL,
	[productid] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[amount] [money] NOT NULL,
	[status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 3/20/2021 6:00:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[cartid] [int] IDENTITY(1,1) NOT NULL,
	[userid] [int] NULL,
	[productid] [int] NOT NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cartid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 3/20/2021 6:00:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[categoriesID] [int] IDENTITY(1,1) NOT NULL,
	[categoriesName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[categoriesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 3/20/2021 6:00:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[contactid] [int] IDENTITY(1,1) NOT NULL,
	[userid] [int] NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[contactid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evaluate]    Script Date: 3/20/2021 6:00:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evaluate](
	[evaluateID] [int] IDENTITY(1,1) NOT NULL,
	[evaluateContent] [nvarchar](50) NULL,
	[rate] [int] NOT NULL,
	[date] [datetime] NOT NULL,
	[userID] [int] NOT NULL,
	[productID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[evaluateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 3/20/2021 6:00:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[productID] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](max) NOT NULL,
	[author] [nvarchar](max) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[shortDescription] [nvarchar](max) NOT NULL,
	[image] [nvarchar](max) NOT NULL,
	[price] [money] NOT NULL,
	[quantity] [int] NOT NULL,
	[sold] [int] NOT NULL,
	[postTime] [datetime] NOT NULL,
	[categoriesID] [int] NOT NULL,
	[userID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([userID], [email], [password], [userName], [role], [address], [phoneNumber]) VALUES (1, N'admin@bookstore.com', N'$2a$12$j0uq4.MhZbzDlhQ5eJCB1uhDlmDC99fr4XyoYKPNcOW5WSKEMAw3u', N'Admin', 3, N'Hoa Lac Hi-Tech Park - Thach Hoa, Thach That, Ha Noi', N'0964115472')
INSERT [dbo].[Account] ([userID], [email], [password], [userName], [role], [address], [phoneNumber]) VALUES (2, N'hungtrinh@bookstore.com', N'$2a$12$BIUWGB8Z/Vdqu2BwnwQUxOYnVQbpFkt0/Myx9jOTnxU//ATmqY6Li', N'Trinh Hoang Hung', 3, N'Hai Phong', N'0912378123')
INSERT [dbo].[Account] ([userID], [email], [password], [userName], [role], [address], [phoneNumber]) VALUES (3, N'khabeo@bookstore.com', N'$2a$12$sQyPPhSXqr51NEXU7WvZz.o3FOTKrwnkTALvdJlaVKU2w2ue7AFdm', N'Tu Van Kha Beo', 3, N'Thuong Tin - Ha Noi', N'0353315428')
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([categoriesID], [categoriesName]) VALUES (1, N'Arts & Photography')
INSERT [dbo].[Categories] ([categoriesID], [categoriesName]) VALUES (2, N'Biographies & Memoirs')
INSERT [dbo].[Categories] ([categoriesID], [categoriesName]) VALUES (3, N'Business & Investing')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Evaluate] ON 

INSERT [dbo].[Evaluate] ([evaluateID], [evaluateContent], [rate], [date], [userID], [productID]) VALUES (1, N'This product is good', 5, CAST(N'2021-03-13T12:32:14.297' AS DateTime), 4, 7)
INSERT [dbo].[Evaluate] ([evaluateID], [evaluateContent], [rate], [date], [userID], [productID]) VALUES (2, N'This product is good', 5, CAST(N'2021-03-13T12:38:18.687' AS DateTime), 4, 67)
INSERT [dbo].[Evaluate] ([evaluateID], [evaluateContent], [rate], [date], [userID], [productID]) VALUES (3, N'This product is good', 5, CAST(N'2021-03-13T12:38:18.700' AS DateTime), 5, 36)
GO
SET IDENTITY_INSERT [dbo].[Evaluate] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

GO
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD FOREIGN KEY([productid])
REFERENCES [dbo].[Product] ([productID])
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD FOREIGN KEY([userid])
REFERENCES [dbo].[Account] ([userID])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([productid])
REFERENCES [dbo].[Product] ([productID])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([userid])
REFERENCES [dbo].[Account] ([userID])
GO
ALTER TABLE [dbo].[Contact]  WITH CHECK ADD FOREIGN KEY([userid])
REFERENCES [dbo].[Account] ([userID])
GO
ALTER TABLE [dbo].[Evaluate]  WITH CHECK ADD FOREIGN KEY([productID])
REFERENCES [dbo].[Product] ([productID])
GO
ALTER TABLE [dbo].[Evaluate]  WITH CHECK ADD FOREIGN KEY([userID])
REFERENCES [dbo].[Account] ([userID])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([categoriesID])
REFERENCES [dbo].[Categories] ([categoriesID])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([userID])
REFERENCES [dbo].[Account] ([userID])
GO
/****** Object:  Trigger [dbo].[trg_CancelOrder]    Script Date: 3/20/2021 6:00:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* cập nhật hàng trong kho sau khi cập nhật đặt hàng */
CREATE TRIGGER [dbo].[trg_CancelOrder] on [dbo].[Bill] AFTER UPDATE AS
DECLARE @quantity INT
IF UPDATE([status])
BEGIN
	SELECT @quantity = b.quantity from Bill b, deleted d, inserted i
	WHERE b.productid = i.productid and b.productid = d.productid
END

BEGIN
	UPDATE [Product]
	SET Product.quantity = Product.quantity + @quantity
	FROM Product 
	JOIN inserted ON Product.productID = inserted.productid

	UPDATE [Product]
	SET Product.sold = Product.sold + @quantity
	FROM Product 
	JOIN inserted ON Product.productID = inserted.productid
end
GO
ALTER TABLE [dbo].[Bill] ENABLE TRIGGER [trg_CancelOrder]
GO
/****** Object:  Trigger [dbo].[trg_Order]    Script Date: 3/20/2021 6:00:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Order] ON [dbo].[Bill] FOR INSERT AS 
BEGIN
	UPDATE [Product]
	SET Product.quantity = Product.quantity - (SELECT quantity FROM inserted WHERE productid = Product.productID)
	FROM Product 
	JOIN inserted ON Product.productID = inserted.productid

	UPDATE [Product]
	SET Product.sold = Product.sold + (SELECT quantity FROM inserted WHERE productid = Product.productID)
	FROM Product 
	JOIN inserted ON Product.productID = inserted.productid
END
GO
ALTER TABLE [dbo].[Bill] ENABLE TRIGGER [trg_Order]
GO
