
@{
    ViewBag.Title = "Infro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero-wrap hero-bread" style="background-image: url('/Content/images/bg_6.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-0 bread">Account Information</h1>
                <p class="breadcrumbs">
                    <span class="mr-2"><a href="/Accounts/Manager">Manager</a></span>
                </p>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 ftco-animate">
                <form action="#" class="billing-form">
                    <h3 class="mb-4 billing-heading">Product Information</h3>
                    <div class="row align-items-end">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="firstname">User Name</label>
                                <input type="text" name="username" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lastname">Phone Number</label>
                                <input type="text" name="phoneNumber" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="lastname">Address</label>
                                <input type="text" name="address" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="firstname">Password Confrim</label>
                                <input type="password" name="password" class="form-control" placeholder="" required>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <p><a href="#" class="btn btn-primary py-3 px-4">Submit</a></p>

                    </div>
                </form><!-- END -->


            </div> <!-- .col-md-8 -->
        </div>
    </div>
</section> <!-- .section -->
