
@{
    ViewBag.Title = "Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero-wrap hero-bread" style="background-image: url('/Content/Design Images/bg_6.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-0 bread">Staff Manager</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section ftco-cart">
    <div id="contacts" class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cart-list">
                    <table class="table">
                        <thead class="thead-primary">
                            <tr class="text-center">
                                <th>UserName</th>
                                <th>Subject</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="c in contacts" class="text-center">
                                <td class="">
                                    abc
                                </td>

                                <td class="">abc</td>

                                <td class="">abc</td>

                                <td>
                                    abc
                                </td>

                                <td class="quantity manager">
                                    <p><a href="#" class="btn btn-primary py-3 px-4">Change to succsess!</a></p>
                                </td>
                            </tr><!-- END TR-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>