
@{
    ViewBag.Title = "Contact Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script src="~/Scripts/moment.js"></script>

    <script>import moment from 'moment';</script>
    <script>

        new Vue({
            el: '#contacts',
            data: {
                contacts: [],
            },
            mounted: function () {
                axios.get('/Home/ContactJson')
                    .then(response => {
                        this.contacts = response.data;
                        console.log(this.contacts);
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            methods: {
                format_date(value) {
                    if (value) {
                        return moment(String(value)).format('MMMM Do YYYY, h: mm: ss a')
                    }
                },
            }
        })
    </script>
}

<div class="hero-wrap hero-bread" style="background-image: url('/Content/Design Images/bg_6.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9  text-center">
                <h1 class="mb-0 bread">Contact Manager</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="col-lg-12 order-lg-last bg-light">
            <div class="row">
                <div class="col-md-12 d-flex ">
                    <div class="blog-entry align-self-stretch d-md-flex">
                        <div class="text d-block pl-md-4">
                            <div class="meta mb-3">
                                <div><a href="#">27/03/2021 22:08</a></div>
                                <div><a href="#">Huy Tran</a></div>
                            </div>
                            <h3 class="heading">
                                <a href="#">
                                    Cửa hàng bán sách gì mà ít mẫu mã như thế này?
                                </a>
                            </h3>
                            <p>
                                Với tư cách là một người đam mê đọc sách đã nghiên cứu sách gần 20 năm nay tôi thấy Shop nên bổ sung thêm sách.
                            </p>
                            <div class="row">
                                <a href="/Manager/ReplyContact" class="btn btn-primary btn-evaluate py-2 px-3">Reply</a>
                                <a href="#" class="btn btn-primary btn-evaluate py-2 px-3">Reject</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 d-flex ">
                    <div class="blog-entry align-self-stretch d-md-flex">
                        <div class="text d-block pl-md-4">
                            <div class="meta mb-3">
                                <div><a href="#">26/03/2021 22:08</a></div>
                                <div><a href="#">Tu Van Kha</a></div>
                            </div>
                            <h3 class="heading">
                                <a href="#">
                                    Shop có thể thay đổi giao diện?
                                </a>
                            </h3>
                            <p>
                                Tôi không thích giao diện này, mong Shop hãy đổi giao diện khác
                            </p>
                            <div class="row">
                                <a href="/Manager/ReplyContact" class="btn btn-primary btn-evaluate py-2 px-3">Reply</a>
                                <a href="#" class="btn btn-primary btn-evaluate py-2 px-3">Reject</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div> <!-- .col-md-12 -->
    </div>
</section> <!-- .section -->